* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    line-height: 1.5;
    background-color: #FDFBF9;
	font-family: 'Inter', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDFBF9;
    height: 80px;
    width: 100%;
    padding: 0 50px 0 100px;
    margin-left: -60px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav a img {
    width: 50%;
    margin-left: 82px;
    margin-right: -796px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav ul {
    position: relative;
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    opacity: 65%;
}

nav ul li a {
    position: relative;
    color: #3C2F1C;
    opacity: 65%;
    font-size: 16px;
    padding: 8px 20px;
    letter-spacing: 0.2px;
    font-weight: 600;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    line-height: 1.5;
}

.sale a {
    color:#FF291B;
    opacity: 100%;
}

nav ul li a:hover {
    color: #291A09;
    opacity: 100%;
    transition: ease 0.5s;
}

nav .navbar ul {
    position: relative;
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav .navbar ul li {
    display: inline-block;
    line-height: 40px;
    color: #3C2F1C;
    opacity: 65%;
    font-size: 14px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav .navbar ul li a {
    position: relative;
    color: #3C2F1C;
    font-size: 14px;
    padding: 8px 10px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    line-height: 1.5;
    margin-top: 10px;
}

nav .navbar ul li a:hover {
    color: #212121;
    transition: ease 0.5s;
}

.content {
    width: 100%;
    padding: 20px 65px;
    text-align: center;
}

.content h1 {
    padding: 30px 0;
    color: #212121;
    font-size: 48px;
    font-weight: 700;
}

.content h2 {
    font-weight: 700;
    margin-top: 5px;
    color: #212121;
}

.content p {
    margin: 0 0 0px 0;
    font-weight: 400;
    font-size: 15px;
    color: #212121;
}

.login .form-container {
    min-height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #FDFBF9;
}

.login .form-container h2 {
    color: #888783;
}

.login .form-container form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #D8D6D6;
    text-align: center;
    width: 420px;
}

.login .form-container form .login-button {
    width: 100%; 
    padding:15px 15px;
    font-size: 14px;
    margin:8px 0;
    background: #FDFBF9;
    border-width: 0;
    color: #888783;
    opacity: 65%;
}
.login .form-container form .form-input, .form-container form select {
    width: 100%; 
    padding:15px 15px;
    font-size: 14px;
    margin:8px 0;
    background: #FDFBF9;
    border-width: 0px;
    color: #888783;
    opacity: 65%;
}

.login .form-container form select option {
    background: #FDFBF9;
}

.login .form-container form p {
    color: #888783;
}


.login .form-container form .form-btn {
    background: #888783;
    color: #FDFBF9;
    width: 50%;
    opacity: 100%;
    border-radius: 30px;
    text-transform: none;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    padding: 15px;
    margin: 8px;
}

.login .form-container form .form-btn:hover {
    background: #3C2F1C;
    color: #FDFBF9;
    transition: ease 0.5s;
}

.login .form-container form .sign-cta {
    color: #888783;
    cursor: pointer;
    text-decoration:underline;
}

.login .form-container form .sign-cta:hover {
    color: #3C2F1C;
    transition: ease 0.5s;
}

.intro {
    text-align: center;
    color: #FDFBF9;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.intro .content h1 {
    padding: 30px 0 0 0;
    color: #212121;
	font-size: 48px;
    font-weight: 700;
}

.intro .content p {
    margin: 10px auto;
    line-height: 25px;
}

center {
	text-align: center;
}

button.signup-btn {
	width: 175px;
	padding: 10px 0;
	text-align: center;
	margin: 20px 10px;
	font-size: 15px;
	border-radius: 20px;
	font-weight: bold;
	border: 2px solid #C86B85;
	background: transparent;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

button.login-btn {
    width: 175px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    font-size: 15px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #C86B85;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.head .message {
    display: flex;
    align-items: center;
    justify-content: center;
}
.head .message img {
    width: 28%;
}

.head .message .content {
    padding: 20px;
}

.head .message .content p {
    text-align: left;
    color: #3C2F1C;
    font-weight: bold;
    opacity: 50%;
    font-size: 18px;
}

.cover {
    background: #BAB0A6;
    height: 100%;
    width: 0%;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

.offers {
    position: relative;
    overflow: hidden;
    padding: 0px 20px;
    margin: 0 50px;
}

.offers-container {
    padding: 0 2vw 0 2vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.offers-container::-webkit-scrollbar {
    display: none;
}

.offers-card {
    flex: 0 0 auto;
    width: 370px;
    height: 290px;
    margin-right: 40px;
}

.offers-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.offers-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.events {
    position: relative;
    overflow: hidden;
    padding: 0px 20px;
    margin: 0 50px;
}

.events-container {
    padding: 0 2vw 0 2vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.events-container::-webkit-scrollbar {
    display: none;
}

.events-card {
    flex: 0 0 auto;
    width: 375px;
    height: 375px;
    margin-right: 40px;
}

.events-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.events-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-btn, .next-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FDFBF9 100%);
    cursor: pointer;
    z-index: 8;
}

.prev-btn {
    left: 0;
    transform: rotate(180deg);
}

.next-btn {
    right: 0;
}

.prev-btn img, .next-btn img {
    opacity: 0.2;
}

.prev-btn:hover img, .next-btn:hover img {
    opacity: 1;
}

.product {
    position: relative;
    overflow: hidden;
    padding: 0px 20px;
    margin: 0 50px;
}

.product-category {
    color: #291A09;
    opacity: 55%;
    padding: 0 10vw 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: none;
    text-align: left;
}

.cart-products {
    font-weight: 700;
    margin-bottom: 20px;
}

.product-container {
    padding: 0 2vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 350px;
    margin-right: 40px;
}

.celeb-card {
    flex: 0 0 auto;
    width: 250px;
    height: 350px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: #FF291B;
    padding: 5px;
    border-radius: 5px;
    color: #FDFBF9;
    right: 10px;
    top: 10px;
    text-transform: none;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    height: 37px;
    font-weight: 600;
    text-transform: none;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #BAB0A6;
    cursor: pointer;
    opacity: 0;
    font-size: 14px;
    color: #FDFBF9;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #888783;
    transition: ease 0.5s;
    color: #FDFBF9;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    text-transform: uppercase;
}

.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: none;
    margin-top: 5px;
}

.price {
    color: #212121;
    font-weight: 900;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.grand-total .content {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    background-color: #D7C5B2;
}

table {
    margin-top: 25px;
}

.btn-cart {
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #BAB0A6;
    background: #BAB0A6;
    padding: 7px 18px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #FDFBF9;
    letter-spacing: 0.2px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.btn-cart:hover {
    border: 1px solid #888783;
    background: #888783;
    color: #FDFBF9;
    transition: ease 0.5s;
}

.btn-cart i {
    margin-left: 13px;
}

.footer {
    background-color: #D7C5B2;
    padding: 40px 0 70px 0;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

input.form-subscribe:focus {
    outline-width: 0;
}

.footer-col h4 {
    font-weight: 700;
    font-size: 17px;
    color: #FDFBF9;
    margin: 30px 0 15px 0;
    position: relative;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 15px;
    text-transform: capitalize;
    color: #FDFBF9;
    text-decoration: none;
    font-weight: 500;
    color: #FDFBF9;
    display: block;
    transition: all 0.5s ease;
}

.footer-col ul li a:hover {
    color: #3C2F1C;
    transition: ease 0.5s;
}

.form-subscribe {
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    height: 35px;
    width: 135px;
    padding: 10px;
}

.form-subscribe::placeholder {
    color: #bbbbbb;
    font-weight: 400;
}

.btn-subscribe {
    margin-left: -10px;
    height: 35px;
    width: 45px;
    font-weight: 600;
    background-color: #3C2F1C;
    padding: 7px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    color: #FDFBF9;
    cursor: pointer;
}

.btn-subscribe:hover {
    background-color: #3C2F1C;
    transition: ease 0.5s;
}

.text-subscribe {
    color: #FDFBF9;
    margin-top: 5px;
    width: 190px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.footer-bottom {
    position: relative;
    justify-content: space-between;
    align-items: center;
	display: flex;
}

.bottom {
    width: 35% !important;
}

.bottom ul img {
    width: 50%;
    margin-left: 40px;
}

.policy {
    text-align: center;
}

.policy ul li a {
    margin: 0 15px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #FDFBF9;
    transition: all 0.3s ease;
}

.policy ul li a:hover {
    color: #3C2F1C;
    transition: ease 0.5s;
}

.social-links {
	margin-left: 200px;
}

.bottom .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #FDFBF9;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: 0;
    color: #3C2F1C;
    transition: all 0.5s ease;
}


.bottom .social-links a i {
    margin-top: 12.5px;
}
.bottom .social-links a:hover {
    background-color: #3C2F1C;
    color: #FDFBF9;
    border: none;
}

hr.solid {
    border-top: 1.5px solid #FDFBF9;
    margin: 50px 0;
}

.checkout .form-container {
    min-height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #FDFBF9;
}

.checkout .form-container h2 {
    color: #888783;
}

.checkout .form-container form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #DCDAD6;
    text-align: center;
    width: 420px;
}

.checkout .form-container form input, .form-container form select {
    width: 100%; 
    padding:15px 15px;
    font-size: 14px;
    margin:8px 0;
    background: #FDFBF9;
    border-width: 0;
    color: #888783;
    opacity: 65%;
}

.checkout .form-container form select option {
    background: #FDFBF9;
}

.checkout .form-container form p {
    color: #888783;
}

.checkout .form-container form .form-btn {
    background: #3C2F1C;
    color: #FDFBF9;
    width: 50%;
    border-radius: 30px;
    text-transform: none;
    font-size: 14px;
    opacity: 50%;
    cursor: pointer;
}

.checkout .form-container form .form-btn:hover {
    opacity: 75%;
    background: #3C2F1C;
    color: #FDFBF9;
    transition: ease 0.5s;
}

.banner-sale {
    background-color: #859463;
    opacity: 90%;
}

.banner-sale .sale {
    display: flex;
    align-items: center;
    justify-content: center
}

.banner-sale .sale .content h1 {
    color: #FDFBF9;
    margin-left: 35px;
    font-size: 42px;
    padding: 20px;

}

.banner-sale .sale .content {
    padding: 0;
}

.banner-sale .sale .content img {
    width: 70%;
}

.banner-sale .sale .content p {
    text-align: left;
    color: #FDFBF9;
    padding: 20px;
}

.sale-content {
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0 50px 0 100px;
}

.sale-container {
    padding: 0 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: row;
}

.account .form-container {
    min-height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #FDFBF9;
}

.account .form-container form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #BAB0A6;    
    opacity: 65%;
    text-align: center;
    width: 420px;
}

.account .form-container form .username {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    margin: 8px 0;
    background: #BAB0A6;
    border: none;
}

button.done-btn {
    width: 175px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    font-size: 15px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #BAB0A6;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.head .collab {
    display: flex;
    margin: 0 auto;
    max-width: 1275px;
}
.head .collab img {
    width: 50%;
    object-fit: cover;
    flex: 50%;
}

.head .collab .content {
    padding: 0;
}

.head .collab .content h1 {
    text-align: center;
    color: #FDFBF9;
    font-weight: 500;
    padding: 0;
    font-size: 48px;
    position: absolute;
    top: 122.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.collab-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.collab-content .content{
    padding: 20px 0;
}

.collab-content .content {
    grid-row-start: span 3;
}

.collab-content .image img {
    margin-left: 112px;
    margin-top: 20px;
    width: 405px;
}

.collab-content .home img {
    margin-left: 112px;
    margin-top: 20px;
    width: 372px;
}

.collab-content .content .banner img {
    width: 92.5%;
    margin-left: -66px;
    margin-bottom: 40px;
    margin-right: -50px;
}

.collab-container {
    padding: 0 2vw;
    display: grid;
    grid-row-start: span 3;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
}

.collab-container .product-card {
    height: 260px;
}

.collab-container .product-info {
    height: 50px;
}

.collab-container .card-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    margin-bottom: -10px;
    width: 100%;
    height: 37px;
    font-weight: 600;
    text-transform: none;
    border: none;
    outline: none;
    border-radius: 0;
    background: #BAB0A6;
    cursor: pointer;
    opacity: 0;
    font-size: 16px;
    color: #FDFBF9;
    text-align: center;
}

.banner-about .about .content {
    padding: 0;
}

.banner-about .about .content img {
    width: 84%;
    border-radius: 10px;
}

.banner-about .about .philosophy {
    margin-top: 20px;
    margin-left: 122px;
    background: #D8D6D6;
    width: 84%;
    align-content: center;
    padding: 20px;
    border-radius: 10px;
}

.banner-about .about .philosophy h2 {
    font-weight: 700;
    margin-top: 5px;
    font-size: 32px;
    color: #291A09;
    opacity: 55%;
    text-align: center;
}

.banner-about .about .philosophy p {
    text-align: left;
    color: #291A09;
    padding: 20px;
    opacity: 55%;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.banner-about .about .founder {
    margin-left: 90px;
}

.banner-about .about .founder h2 {
    font-weight: 700;
    margin: 40px 0;
    color: #291A09;
    text-align: center;
    width: 94%;
    font-size: 32px;
    color: #291A09;
    opacity: 55%;
}

.banner-about .about .collab h2 {
    font-weight: 600;
    margin: 30px 0px -25px 120px;
    text-align: left;
    width: 94%;
    font-size: 24px;
    color: #291A09;
    opacity: 55%;
}

.banner-about .about .founder img {
    padding: 0 2vw;
    width: 31%;
    border: 10px;
    align-items: center;
    margin-bottom: 80px;
}


.payment .form-container {
    min-height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #FDFBF9;
}

.payment .form-container h2 {
    color: #888783;
}

.payment .form-container form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #DCDAD6;
    text-align: center;
    width: 420px;
}

.payment .form-container form input, .form-container form select {
    width: 100%; 
    padding:15px 15px;
    font-size: 14px;
    margin:8px 0;
    background: #FDFBF9;
    border-width: 0;
    color: #888783;
    opacity: 65%;
}

.payment .form-container form select option {
    background: #FDFBF9;
}

.payment .form-container form p {
    color: #888783;
    text-align: left;
}

.payment .form-container form .form-btn {
    background: #3C2F1C;
    color: #FDFBF9;
    width: 50%;
    border-radius: 30px;
    text-transform: none;
    font-size: 14px;
    opacity: 50%;
    cursor: pointer;
}

.payment .form-container form .form-btn:hover {
    opacity: 75%;
    background: #3C2F1C;
    color: #FDFBF9;
    transition: ease 0.5s;
}