* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    line-height: 1.5;
    font-family: "Crimson Pro", serif;
}

.lexend-exa {
    font-family: "Lexend Exa", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    padding: 0 100px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav img {
    width: 8%;
    margin-left: 82px;
    margin-right: -82px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav ul {
    position: relative;
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    opacity: 65%;
}

nav ul li a {
    position: relative;
    color: #3C2F1C;
    opacity: 65%;
    font-size: 16px;
    padding: 8px 20px;
    letter-spacing: 0.2px;
    font-weight: 600;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    line-height: 1.5;
    font-family: "Crimson Pro", serif;
}

.sale a {
    color:#FF291B;
    opacity: 100%;
}

nav ul li a:hover {
    color: #291A09;
    opacity: 100%;
    transition: ease 0.5s;
}

nav .navbar ul {
    position: relative;
    display: flex;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav .navbar ul li {
    display: inline-block;
    line-height: 40px;
    color: #3C2F1C;
    opacity: 65%;
    font-size: 14px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav .navbar ul li a {
    position: relative;
    color: #3C2F1C;
    font-size: 14px;
    padding: 8px 10px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    line-height: 1.5;
    font-family: "Crimson Pro", serif;
    margin-top: 10px;
}

nav .navbar ul li a:hover {
    color: #212121;
    transition: ease 0.5s;
}

.content {
    width: 100%;
    padding: 20px 65px;
    text-align: center;
}

.content h1 {
    padding: 30px 0;
    color: #212121;
    font-size: 48px;
    font-weight: 700;
}

.content h2 {
    font-weight: 700;
    margin-top: 5px;
    color: #212121;
}

.content p {
    margin: 0 0 10px 0;
    font-weight: 400;
    font-size: 15px;
    color: #a7a7a7;
}

.login .form-container {
    min-height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #FFFFFF;
}

.login .form-container h2 {
    color: #888783;
}

.login .form-container form {
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #D8D6D6;
   text-align: center;
   width: 420px;
}

.login .form-container form input, .form-container form select {
   width: 100%; 
   padding:15px 15px;
   font-size: 14px;
   margin:8px 0;
   background: #FFFFFF;
   border-width: 0;
   color: #888783;
   opacity: 65%;
}

.login .form-container form select option {
   background: #fff;
}

.login .form-container form p {
    color: #888783;
}

.login .form-container form .sign-cta {
    color: #888783;
    cursor: pointer;
    text-decoration:underline;
}

.login .form-container form .sign-cta:hover {
    color: #3C2F1C;
    transition: ease 0.5s;
}
 
.login .form-container form .form-btn {
   background: #888783;
   color: #FFFFFF;
   width: 50%;
   border-radius: 30px;
   text-transform: capitalize;
   font-size: 14px;
   cursor: pointer;
}

.login .form-container form .form-btn:hover {
   background: #3C2F1C;
   color: #FFFFFF;
   transition: ease 0.5s;
}

.intro {
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.intro .content h1 {
    padding: 30px 0 0 0;
    color: #212121;
	font-size: 48px;
    font-weight: 700;
}

.intro .content p {
    margin: 10px auto;
    line-height: 25px;
}

center {
	text-align: center;
}

button.signup-btn {
	width: 175px;
	padding: 10px 0;
	text-align: center;
	margin: 20px 10px;
	font-size: 15px;
	border-radius: 20px;
	font-weight: bold;
	border: 2px solid #C86B85;
	background: transparent;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

button.login-btn {
    width: 175px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    font-size: 15px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #C86B85;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.cover {
    background: #C86B85;
    height: 100%;
    width: 0%;
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

.offers {
    position: relative;
    overflow: hidden;
    padding: 0px 20px;
    margin: 0 50px;
}

.offers-container {
    padding: 0 2vw 0 2vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.offers-container::-webkit-scrollbar {
    display: none;
}

.offers-card {
    flex: 0 0 auto;
    width: 370px;
    height: 290px;
    margin-right: 40px;
}

.offers-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.offers-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.events {
    position: relative;
    overflow: hidden;
    padding: 0px 20px;
    margin: 0 50px;
}

.events-container {
    padding: 0 2vw 0 2vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.events-container::-webkit-scrollbar {
    display: none;
}

.events-card {
    flex: 0 0 auto;
    width: 375px;
    height: 375px;
    margin-right: 40px;
}

.events-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.events-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev-btn, .next-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.prev-btn {
    left: 0;
    transform: rotate(180deg);
}

.next-btn {
    right: 0;
}

.prev-btn img, .next-btn img {
    opacity: 0.2;
}

.prev-btn:hover img, .next-btn:hover img {
    opacity: 1;
}

.product {
    position: relative;
    overflow: hidden;
    padding: 0px 20px;
    margin: 0 50px;
}

.product-category {
    padding: 0 10vw 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.cart-products {
    font-weight: 700;
    margin-bottom: 20px;
}

.product-container {
    padding: 0 2vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
    display: none;
}

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 400px;
    margin-right: 40px;
}

.celeb-card {
    flex: 0 0 auto;
    width: 250px;
    height: 350px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #C86B85;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    height: 37px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #F3D7CA;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    font-size: 14px;
    color: #212121;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #C86B85;
    transition: ease 0.5s;
    color: #fff;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    text-transform: uppercase;
}

.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.grand-total .content {
    margin-top: 21px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    background-color: #F3D7CA;
}

table {
    margin-top: 25px;
}

.btn-cart {
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #C86B85;
    background: #C86B85;
    padding: 7px 18px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 0.2px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.btn-cart:hover {
    border: 1px solid #C86B85;
    background: #F3D7CA;
    color: #C86B85;
    transition: ease 0.5s;
}

.btn-cart i {
    margin-left: 13px;
}

.footer {
    background-color: #D7C5B2;
    padding: 40px 0 70px 0;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

input.form-subscribe:focus {
    outline-width: 0;
}

.footer-col h4 {
    font-weight: 700;
    font-size: 17px;
    color: #FFFFFF;
    margin: 30px 0 15px 0;
    position: relative;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 15px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    color: #FFFFFF;
    display: block;
    transition: all 0.5s ease;
}

.footer-col ul li a:hover {
    color: #3C2F1C;
    transition: ease 0.5s;
}

.form-subscribe {
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    height: 35px;
    width: 135px;
    padding: 10px;
}

.form-subscribe::placeholder {
    color: #bbbbbb;
    font-weight: 400;
}

.btn-subscribe {
    margin-left: -10px;
    height: 35px;
    width: 45px;
    font-weight: 600;
    background-color: #3C2F1C;
    padding: 7px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-subscribe:hover {
    background-color: #3C2F1C;
    transition: ease 0.5s;
}

.text-subscribe {
    color: #FFFFFF;
    margin-top: 5px;
    width: 190px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.footer-bottom {
    position: relative;
    justify-content: space-between;
    align-items: center;
	display: flex;
}

.bottom {
    width: 35% !important;
}

.bottom ul img {
    width: 50%;
    margin-left: 40px;
}

.policy {
    text-align: center;
}

.policy ul li a {
    margin: 0 15px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.3s ease;
}

.policy ul li a:hover {
    color: #3C2F1C;
    transition: ease 0.5s;
}

.social-links {
	margin-left: 200px;
}

.bottom .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: 0;
    color: #3C2F1C;
    transition: all 0.5s ease;
}

.bottom .social-links a:hover {
    background-color: #3C2F1C;
    color: #FFFFFF;
    border: none;
}

hr.solid {
    border-top: 1.5px solid #FFFFFF;
    margin: 50px 0;
}